#con {
  padding: 120px;
  text-align: left;
  background-color: #e5e5e5;
}

#question_seperator {
  background-color: white;
  border-top: 8px solid rgb(103, 58, 183);
  border-radius: 12px;
  border-bottom: 20px solid #e5e5e5;
  border-bottom-radius: 15px;
  padding: 30px 25px;
  flex-direction: row;
  font-family: Verdana;
}
